/* Eric Meyer's CSS Reset */
a,abbr,acronym,address,applet,article,aside,audio,b,big,blockquote,body,canvas,caption,center,cite,code,dd,del,details,dfn,div,dl,dt,em,embed,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,ins,kbd,label,legend,li,mark,menu,nav,object,ol,output,p,pre,q,ruby,s,samp,section,small,span,strike,strong,sub,summary,sup,table,tbody,td,tfoot,th,thead,time,tr,tt,u,ul,var,video{margin:0;padding:0;border:0;font-size:100%;vertical-align:baseline}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:after,blockquote:before,q:after,q:before{content:'';content:none}table{border-collapse:collapse;border-spacing:0}
/* End of Eric Meyer's CSS Reset */

html {
	height: 100%;
}
article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary {
	display: block;
}
body {
	font: 12px/18px Arial, sans-serif;
	height: 100%;
}
.wrapper {
	min-width: 1024px;
	max-width: 1920px;
	margin: 0 auto;
	min-height: 100%;
	height: auto !important;
	height: 100%;
}


/* Header
-----------------------------------------------------------------------------*/
header{
	height: 75px;
	line-height: 75px;
	background: #FFE680;
	padding-left: 50px;
	font-size: 200%;
}


/* Middle
-----------------------------------------------------------------------------*/
.middle {
	width: 100%;
	padding: 0 0 100px;
	position: relative;
}
.middle:after {
	display: table;
	clear: both;
	content: '';
}
.container {
	width: 100%;
	float: left;
	overflow: hidden;
}
#textArea{
	margin: 10px 250px 10px 10px;
	overflow-y: auto;
}
p{
	margin-bottom: 5px;
}


/* Right Sidebar
-----------------------------------------------------------------------------*/
#statArea{
	float: left;
	width: 250px;
	margin-left: -250px;
	position: relative;
	background: #FFACAA;
	height:300px;
}

meter{
	appearance:none;
	width: 100%;
}

.statContainer{
	width: 90%;
	margin:auto;
}

/* This makes the value appear over the  */
p[data-value]{
	position: relative;
	margin: 0;
}

p[data-value]:after{
	content: attr(data-value);
	position: absolute; right:0;
}


/* Maze 
-----------------------------------------------------------------------------*/

#mazeArea{
	margin: 0 auto;
	background-color: white;
	/* +2 because borders */
	width: 200px;
	height: 200px;
	border: 1px solid black;
}

.hasTopWall{
	border-top: 1px solid black;
}
.hasRightWall{
	border-right: 1px solid black;
}
.hasBottomWall{
	border-bottom: 1px solid black;
}
.hasLeftWall{
	border-left: 1px solid black;
}

/* Footer
-----------------------------------------------------------------------------*/
footer{
	margin: -100px auto 0;
	min-width: 1024px;
	max-width: 1920px;
	height: 75px;
	background: #BFF08E;
	position: relative;
	padding-top: 10px;
	padding-bottom: -10px;
	padding-left: 10px;
	padding-right: -10px;
}